/*@import 'shortscr.css'(min-width:500px);*/
.blog-title{
    text-align: center !important;
    position: absolute;
    line-height: 220px;
    font-family: "Microsoft YaHei UI Light","Ubuntu Light";
    color: white;
    opacity: 1;
    height: 300px;
    width: 94%;
    left: 3%;
    right: 3%;
    font-size: 40px;
    letter-spacing: 3px;
    z-index: 3;
    box-sizing: border-box;
    text-shadow: 2px 2px 2px #666;


}

#block{
    top: 340px;
    position: absolute;
    left: 4%;
    right: 4%;
    z-index: 3;
    left: 4%;
    right: 4%;
}
.mainpart{


    border: 5px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;






}

p {
    opacity: 1.0;
}
p code{

    font-family: consolas;
    font-size: 16px;
    border-radius: 5px;
    background-color: #F6F8FA;
    color: #3c4858;
}
pre{
    border-radius: 15px;
}
pre code{
    font-family: consolas;
    font-size: 16px;
    overflow: scroll;

}
back {
    position: bottom;
    margin:0;
    padding:0;

    max-width: 100%;
    height: auto;

}

#head{
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 320px;
	background: url(../img/background.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;

}


#gotopost:link {
color: #3c4858; /*color of unvisited links*/
}
#gotopost:visited{
    color: #3c4858;
}
#gotopost:hover{
    color: #66ccff;
}
a {
text-decoration: none; /*delete underline*/
color: #66ccff;
}

.detail{
color: #718099;
}
#nav-container{
    background-color: white;
    left: 0%;
    right: 0%;
}

#for-nav{
    position: absolute;
    color: white;
    font-family: "Ubuntu","Microsoft YaHei UI Light";
    font-size: 32px;
    float: left;
    /*padding: 4% 4%;*/
    top: 10px;
    left: 10px;
    z-index: 3;
    opacity: 1;
}
#static-page{
    color: white;
    font-family: "Microsoft YaHei UI Light";
    font-size: 25px;
    float: right;
    padding: 2% 2%;
    display: block;
    text-shadow: 2px 2px 2px #666;
    top: 0px;
    left: 0px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;

}
html{
    background-color: #f5f5f5;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

#gitalk-container{

    position: absolute;
    border: 5px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

    left: 0.5%;
    right: 0.5%;
    z-index: 3;
}

