<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'css/style-origin.css' %}">
<link rel="stylesheet" href="{% static 'highlight.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<div id="head">

<div id='nav-container'>
    <a href="{% url 'aeonium:index' %}" id='for-nav'>{{site_name}}</a>
    {% for a in pages %}
        <a href="{% url 'aeonium:page' a.id %}" id="static-page">{{a.name}}</a>
    {% endfor %}
    <h1 class="blog-title">{{title}}</h1>
</div>
</div>

{% block content %}{% endblock content %}
