{% extends 'aeonium/base.html' %}
<html>
{% block content %}
<head>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

</head>
<body>

<h1 class="blog-title">{{ page.title }}</h1>
    <div class="mainpart">
        {{page.content|safe}}
    </div>
</br>
</br>
    <div id="gitalk-container" class="mainpart">
        <script>
        var gitalk = new Gitalk({
            clientID: 'GitHub Application Client ID',
            clientSecret: 'GitHub Application Client Secret',
            repo: 'GitHub repo',
            owner: 'GitHub repo owner',
            admin:  ['GitHub repo owner and collaborators, only these guys can initialize github issues'],
            id: location.pathname,      // Ensure uniqueness and len
            distractionFreeMode: false  // Facebook-like distraction
        })
        gitalk.render('gitalk-container')
    </script>
    </div>
</body>
{% endblock content %}
</html>
